---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Khushboo Choudhary"
  description="About Khushboo Choudhary Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpeg"
          alt="Khushboo Choudhary at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Experienced Digital Marketer and Google Ads Specialist with 5+ years
            in performance marketing, paid media strategy, and search
            advertising. Proven ability to scale business results through Google
            Ads, strategic planning, and data-driven decision-making. Currently
            working as a freelance SEM consultant, supporting two small
            businesses in the retail and beauty sectors. Previous roles include
            working with agencies like Pivotroots (Havas Media), Publicis
            Sapient, and Cognizant, handling international clients and
            large-scale digital campaigns.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            Graduated in 2017 with a Bachelor of Arts degree in Literature from
            the University of Delhi. This academic foundation nurtured strong
            analytical and communication skills, which have been instrumental in
            crafting effective advertising strategies and client presentations.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <ul>
            <li>Google Ads (Search Campaigns & Editor)</li>
            <li>Search Engine Marketing (SEM)</li>
            <li>Paid Media Strategy</li>
            <li>Google Analytics</li>
            <li>Appsflyer, Data Studio</li>
            <li>Performance Reporting</li>
            <li>Competitor & Audience Analysis</li>
            <li>Client Communication & Consulting</li>
          </ul>
        </div>
      </section>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
